[submodule "commons"]
	path = commons
	url = https://github.com/VRACware/vrac-commons.git
    branch = main
[submodule "window"]
	path = window
	url = https://github.com/VRACware/vrac-window.git
	branch = main
